.card {
	width: 280px;
	height: 100%;
	border: 1px solid #a0a0a0;
	@media screen and (max-width: 425px) {
		width: 100%;
	}
	&-img img {
		width: 100%;
	}
	&-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 168px;
		padding: 0px 24px;
		@media screen and (min-width: 375px) {
			padding: 20px 14px;
		}
		&__productName {
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			color: #343030;
			margin-bottom: 23px;
		}
		&__buy-price {
			display: flex;
			align-items: center;
			@media screen and (min-width: 375px) {
				justify-content: space-between;
			}
			.price {
				display: flex;
				flex-direction: column;
				margin-right: 21px;
				&-old {
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;
					text-decoration-line: line-through;
					color: #a0a0a0;
				}
				&-new {
					font-weight: 700;
					font-size: 16px;
					line-height: 150%;
					color: #343030;
				}
			}
			.buy {
				width: 118px;
				height: 48px;
				color: #fff;
				background: #382e2b;
				border: inherit;
				cursor: pointer;
				&:hover {
					background-color: #776763;
				}
			}
		}
	}
	.sold {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		color: #343030;
	}
}
.opacity {
	opacity: 0.5;
}
