.header {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	justify-content: center;
	align-items: center;
	padding: 24px 0 24px 0;
	margin-bottom: 45px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
	&-nav ul {
		display: flex;
		text-decoration: none;
		margin-right: 162px;
		@media screen and (max-width: 768px) {
			align-items: center;
			justify-content: space-between;
			margin-right: 0;
			margin-bottom: 15px;
			width: 500px;
		}
		@media screen and (max-width: 425px) {
			display: none;
		}
		li {
			list-style-type: none;
			margin-right: 48px;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #343030;

			@media screen and (max-width: 768px) {
				margin-right: 0;
			}
		}
	}
	&-search {
		form {
			height: 48px;
			@media screen and (min-width: 375px) {
				display: flex;
        width: 340px;
        justify-content: space-between
			}
			input {
				width: 293px;
				padding: 12.5px 60px 12.5px 16px;
				font-weight: 400;
				font-size: 14px;
				line-height: 150%;
				color: #9f9f9f;
				border: 1px solid #e1e1e1;
				@media screen and (min-width: 768px) {
					width: 400px;
				}
				@media screen and (min-width: 375px) {
					width: 100%;
					padding: 12px 20px 12px 13px;
				}
			}
			button {
				height: 48px;
				width: 122px;
				font-weight: 700;
				font-size: 14px;
				line-height: 150%;
				background: #403432;
				color: #fff;
				border: none; 
				@media screen and (min-width: 375px) {
					width: 30%;
				}
			}
		}
	}
}
