footer {
	display: flex;
	background: #eceaea;
	padding: 37px 0px;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: 768px) {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px;
	}
	@media screen and (max-width: 425px) {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px;
	}
	nav ul {
		display: flex;
		@media screen and (max-width: 768px) {
			display: flex;
			margin-right: 0;
			margin-bottom: 15px;
			justify-content: space-between;
		}
		@media (max-width: 425px) {
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
		}
		li {
			list-style-type: none;
			margin-right: 48px;
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
			color: #555555;
			@media screen and (max-width: 768px) {
				margin: 0;
			}
			@media screen and (max-width: 425px) {
				align-items: center;
        margin-right: 10px;
			}
		}
	}
	.footer-info {
		display: flex;
		align-items: center;
		@media screen and (max-width: 768px) {
			align-items: center;
		}
		@media screen and (max-width: 425px) {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 15px;
		}
		.phone {
			display: flex;
			align-items: center;

			@media screen and (max-width: 768px) {
				margin-bottom: 0;
			}
			@media screen and (max-width: 425px) {
				margin-bottom: 20px;
			}
			img {
				margin-right: 8px;
			}
			a {
				color: #555555;
				text-decoration: none;
			}
			margin-right: 51px;
		}
		.adress {
			display: flex;
			align-items: center;
			color: #555555;
			img {
				margin-right: 8px;
			}
		}
	}
}
